:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    --font-family: 'Nunito', sans-serif;
    ;
}

body {
    background-color: #232735;
}

.my-scholars {
    width: 90vw;
    margin: 0px auto;
}

.heading {
    width: 100%;
    height: 70px;
    background-color: #2f364e;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.heading-col {
    width: 100%;
    display: table;
}

.heading-col h1 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 90%;
    color: rgb(235, 235, 235);
    display: table-cell;
    vertical-align: middle
}

.row {
    width: 100%;
    height: 70px;
    background-color: #3e4666;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    position: relative;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.row:hover{
    background-color: rgb(72, 83, 128);
}

.row-col {
    width: 100%;
    display: table;
    border-bottom: 1px rgb(43, 43, 80) solid;
}

.row-1{
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0px 25px;
}

.row-col h1 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 90%;
    color: #ebebeb;
    display: table-cell;
    vertical-align: middle
}


.dropdown-container {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateX(-15px);
}

.dropdown-container i {
    font-size: 1.2rem;
    color: yellowgreen;
    transition: transform 250ms ease-in-out;
    display: block;
}

.clicked .dropdown-container i{
    transform: rotate(0.5turn);
}

.row-hidden {
    width: 100%;
    height: 0;
    background-color: #343849;
    box-sizing: border-box;
    overflow: hidden;
}


.scholar-information {
    width: 90%;
    height: 350px;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.border {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 3px #42475c solid;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #343849;
}

.image-container {
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    width: 80%;
    height: 70%;
    margin: auto;
    padding-left: 5rem;
    padding-right: .5rem;
    box-sizing: border-box;
    color: #cacaca;
    overflow: scroll;
    overflow-x: hidden;
}

.details h1 {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.details span {
    font-size: .8rem;
    color: #28b959;
}

.details img{
    width: 50%;
}

.details::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.details::-webkit-scrollbar-thumb {
    background: #42475c;
    border-radius: 10px;
}

.details::-webkit-scrollbar-track {
    background: transparent;
}

.actions-container{   
    position: absolute;
    right: 5%;
}

.actions-container button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 250ms ease-in-out;
}

.actions-container button:hover{
    transform: scale(1.1);
}

.actions-container button[name='edit']{
    background-color: #227FE1;
}

.actions-container button[name='delete']{
    background-color: #D13B3B;
}

.actions-container button i{
    color: white;
    font-size: 1.5rem;
}

.graphs-container {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    border: 1px dashed;
}

.line-graph-container {
    width: 48%;
}

.modal{
    background-color: rgb(0, 0, 0, 0.5);
    position:fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.edit-modal{
    background-color: #41486d;
    width: 40%;
    height: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.edit-modal input[type="text"]{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: none;
}

textarea{
    display: block;
    resize: none;
    margin-bottom: 15px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.edit-modal input[type="file"]{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
}

.edit-modal input[type="submit"]{
    display: inline-block;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.edit-modal input[type="submit"]:hover{
    transform: scale(1.1);
}

.edit-modal input[name="update"]{
    background-color: #21c04e;
}

.edit-modal input[name="cancel"]{
    background-color: #be1e1e;
}
