:root {
    --widget-color: #1F2935;
    --background-color: #181f29;
    --font-family: 'Nunito', sans-serif;
    --light-color: #D4D9EB;
}

body {
    background-color: var(--background-color);
}

.widget {
    border-radius: 15px;
    background-color: var(--widget-color);
}

#show-sidebar {
    width: 50px;
    height: 50px;
    left: 50px;
    position: absolute;
    border: none;
    background-color: #2e4561bd;
    border-radius: 10px;
    color: var(--light-color);
    font-size: 1rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#show-sidebar:hover {
    font-size: 1.1rem;
    transform: scale(1.1);
}

main {
    padding-top: 20px;
}

.sidebar {
    width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(rgba(38, 49, 63, 0.80), rgba(31, 36, 41, 0.80));
    transition: transform 250ms ease-in-out;
}

.sidebar-top {
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: #273342 !important;
    border-radius: 30px;
    transform: translateY(-100px);
    padding: 130px 30px 30px 30px;
    box-sizing: border-box;
}

.sidebar a {
    text-decoration: none;
    color: var(--light-color);
}

.sidebar-top #hide-sidebar {
    background: none;
    margin-bottom: 15px;
    font-size: 2rem;
    border: none;
    color: var(--light-color);
}


.sidebar-top h1 {
    margin: 0;
    font-size: 36px;
    color: #53C580;
    font-family: var(--font-family);
    margin-bottom: 15px;
}

.sidebar-top button {
    border: none;
    background: none;
    font-size: 18px;
    color: var(--light-color);
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

.button-hover:hover {
    color: #969baf;
}

.button-active button:active {
    color: #6a7088;
}

.me-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.me-image {
    height: 50px;
    width: 50px;
    border-radius: 16px;
    overflow: hidden;
    margin-right: 15px;
}

.me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.me-container h1 {
    font-size: 18px;
    margin: 0;
    color: var(--light-color);
}

.add-scholar-container {
    width: 100%;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #314053;
}

.add-scholar-container form {
    height: 100%;
}

.add-scholar-container input[type='text'] {
    width: 85%;
    height: 100%;
    background-color: #314053;
    border: none;
    outline: none;
    font-family: var(--font-family);
    color: var(--light-color);
    padding-left: 15px;
}

.add-scholar-container input[type='text']::placeholder {
    color: var(--light-color);
}

.add-scholar-container button {
    position: absolute;
    right: 5px;
    height: 100%;
    width: 10%;
}

.sidebar-bottom {
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: #273342 !important;
    border-radius: 30px;
    transform: translateY(160px);
    padding: 42px 30px;
    box-sizing: border-box;
}

.sidebar-bottom button {
    display: block;
    border: none;
    background: none;
    font-size: 18px;
    color: var(--light-color);
    padding: 0;
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

.currencies {
    width: 91%;
    margin: auto;
    height: 185px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.earnings {
    width: 32%;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(#35341F, var(--background-color));
}

.earnings h1 {
    font-family: var(--font-family);
    color: var(--light-color);
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 15px;
}

.currency {
    width: 21.6%;
    height: 100%;
    margin-left: 16px;
    font-family: var(--font-family);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.status-up {
    background: linear-gradient(#224834, #1F2935) !important;
}

.status-down {
    background: linear-gradient(#472727, #1F2935) !important;
}

.currency-name {
    height: 40px;
    width: 100%;
    position: relative;
}


.currency-name h1 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
}

.currency-name img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 75px;
}

.currency-value {
    margin-top: 37px;
}

.currency-value h1 {
    margin: 0px;
    color: var(--light-color);
}


.information {
    width: 91%;
    height: 500px;
    margin: 16px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-grid-space {
    width: 32%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.completed-quota {
    width: 100%;
    height: 42%;
    padding: 30px;
    box-sizing: border-box;
}

.completed-quota h1 {
    margin: 0px;
    font-family: var(--font-family);
    color: var(--light-color);
}

#completed {
    font-size: 100px;
    text-align: right;
}

#completed span {
    font-size: 30px;
}

.top-scholar-container {
    width: 100%;
    height: 55%;
    padding: 30px;
    box-sizing: border-box;
}

.top-scholar-container h1 {
    margin: 0;
    font-family: var(--font-family);
    color: var(--light-color);
}

.top-scholar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 23px;
}

.top-scholar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.top-scholar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-scholar h2 {
    margin: 0px 0px 0px 10px;
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--light-color);
}

.table-container {
    width: 67%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column !important;
}

.heading-row {
    height: 70px;
    width: 100%;
    background-color: #2A3644;
    display: flex;
    flex-direction: row;
}

.heading-col {
    font-family: var(--font-family);
    color: var(--light-color);
    font-size: .7rem;
    width: calc((1/6)*100%);
    display: table;
}

.heading-col h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.rows {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/* width */
.rows::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.rows::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.rows::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
.rows::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.row-visible {
    height: 60px;
    width: 100%;
    background-color: var(--widget-color);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #313946;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
}

.row-visible:hover {
    background-color: #242f3b;
}

.row-col {
    font-family: var(--font-family);
    color: var(--light-color);
    font-size: .6rem;
    width: calc((1/6)*100%);
    height: 100%;
    display: table;
    box-sizing: border-box;
    position: relative;
}

.row-col h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.row-col:first-of-type {
    padding: 0px 10px;
}

.row-col:last-of-type::before {
    content: attr(data-unclaimed) "\A" attr(data-wallet) "\A" attr(data-manager);
    font-size: 1rem;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.877);
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 250ms ease-in-out;
    white-space: pre;
    z-index: 9;
}

.row-col:last-of-type:hover::before {
    transform: scale(1);
}

.row-hidden {
    width: 100%;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    border-bottom: 0px solid #313946;
}

.scholar-profile {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-picture {
    height: 100%;
    width: 35%;
    background-color: #242e3a;
    border-radius: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--light-color);
    text-align: center;
    position: relative;
}


.valid-id {
    width: 400px;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 9;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}


.image-border {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.image-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-information {
    height: 100%;
    width: 63%;
    background-color: #242e3a;
    border-radius: 10px;
    font-family: var(--font-family);
    padding: 15px 20px 0px 20px;
    box-sizing: border-box;
    position: relative;
}

.profile-information h1 {
    margin: 0px 0px 25px 0px;
    line-height: 1px;
    font-size: 1.2rem;
    color: var(--light-color);
    word-wrap: break-word !important;
    white-space: normal !important;
}

.profile-information p {
    margin-top: 0px;
    margin-bottom: 15px;
    color: rgb(199, 199, 199);
}

.profile-information p:last-of-type {
    color: var(--light-color);
    margin-top: 0px;
}

.settings-button {
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--light-color);
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.settings-button:active {
    transform: rotate(360deg);
}

.actions {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    top: 35px;
    right: 35px;
    background-color: #2a3644;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.actions button {
    height: 50%;
    font-family: var(--font-family);
    cursor: pointer;
    background: none;
    border: none;
    color: var(--light-color);
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
}

.actions button:hover {
    background-color: #34475e;
}

.edit i {
    color: rgb(29, 107, 180);
}

.delete i {
    color: rgb(134, 51, 51);
}

.team {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #242e3a;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: scroll;
}

.team::-webkit-scrollbar {
    height: 6px;
}

/* Track */
.team::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.team::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
.team::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.axie {
    height: 90% !important;
    min-width: 30% !important;
    margin-left: 21px;
    padding: 10px;
    border: 1px solid #3a3f50;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: var(--font-family);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.axie h1 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--light-color);
}

.axie h2 {
    margin: 0;
    font-size: .9rem;
    color: #9ca0b1;
    line-height: 2rem;
}

.axie:last-of-type {
    margin-right: 21px;
}

.axie img {
    width: 100%;
}

.chart-container {
    width: 90%;
    height: 400px;
    margin: 20px auto;
    background-color: #242e3a;
    border-radius: 10px;
}

.chart-container {
    padding: 20px;
    box-sizing: border-box;
}

.modal {
    background-color: hsla(0, 0%, 0%, 0.80);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.edit-modal {
    width: 700px;
    height: 630;
    background-color: var(--widget-color);
    border-radius: 10px;
    display: none;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
}

.edit-modal form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#close-edit {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: bold;
    position: absolute;
    border: none;
    cursor: pointer;
    color: rgb(197, 34, 34);
    background: none;
}

.edit-modal .left-input {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}

.left-input h1 {
    margin: 0px;
    font-family: var(--font-family);
    font-size: 36px;
    color: var(--light-color);
}

.img-container {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px auto 35px auto;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.select-picture {
    width: 50px;
    height: 50px;
    background-color: #4A8F31;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    bottom: -20px;
    right: -20px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}


.select-picture:hover {
    background-color: #3e7929;
}

.select-picture:active {
    background-color: #325f21;
}

.select-picture input {
    height: 100%;
    opacity: 0;
}

.select-picture i {
    font-size: 1.5rem;
    color: var(--light-color);
    position: absolute;
    top: 11px;
    left: 13px;
}

.edit-input {
    width: 100%;
    margin-bottom: 17px;
}

.edit-input h1 {
    font-size: 18px;
    color: #737B99;
    margin-bottom: 5px;
}

.edit-input h1 span {
    color: rgb(150, 33, 33);
}

.edit-input input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    font-family: var(--font-family);
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #242E3A;
    color: #D4D9EB;
    border: none;
    border-radius: 5px;
    outline: none;
}

.edit-input textarea {
    width: 100%;
    height: 139px;
    padding: 15px;
    font-family: var(--font-family);
    background-color: #242E3A;
    color: #D4D9EB;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

.edit-modal .right-input {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.valid-id-btn {
    width: 100px;
    height: 50px;
    margin-top: 44px;
    border-radius: 5px;
    background-color: #414DB0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: table;
    overflow: hidden;
    transition: background-color 250ms ease-in-out;
}

.valid-id-btn:hover {
    background-color: #384294;
}

.valid-id-btn:active {
    background-color: #2d3575;
}

.valid-id-btn input {
    height: 100px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.valid-id-btn p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: var(--light-color);
}

.update {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #4A8F31;
    cursor: pointer;
    color: var(--light-color);
    font-size: 18px;
    margin-top: 46px;
    transition: background-color 250ms ease-in-out;
}

.update:hover {
    background-color: #3e7929;
}

.update:active {
    background-color: #325f21;
}


.delete-modal {
    width: 465px;
    height: 260px;
    background-color: var(--widget-color);
    border-radius: 10px;
    font-family: var(--font-family);
    text-align: center;
    position: relative;
    display: none;
    flex-direction: column;
}

.delete-modal h1 {
    color: var(--light-color);
    margin-top: 40px;
    margin-bottom: 11px;
    font-size: 36px;
}

.delete-modal p {
    margin: 0;
    color: #84899A;
    font-size: 18px;
}

.delete-actions {
    width: 75%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-actions input {
    width: 47%;
    height: 100%;
    border: none;
    font-family: var(--font-family);
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.delete-actions input[name="delete"] {
    background-color: #652828;
}

.delete-actions input[name="delete"]:hover {
    background-color: #572323;
}

.delete-actions input[name="delete"]:active {
    background-color: #421a1a;
}


.delete-actions input[name="remove"] {
    background-color: #807C22;
}

.delete-actions input[name="remove"]:hover {
    background-color: #615d1a;
}

.delete-actions input[name="remove"]:active {
    background-color: #424012;
}

#close-delete {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: bold;
    position: absolute;
    border: none;
    cursor: pointer;
    color: rgb(197, 34, 34);
    background: none;
}

.errors {
    position: fixed;
    height: auto;
    width: 300px;
    bottom: 15px;
    left: 15px;
    display: flex;
    flex-direction: column-reverse;
}

.error {
    height: auto;
    width: 100%;
    padding: 5px 5px 5px 20px;
    margin-top: 10px;
    font-family: var(--font-family);
    color: white;
    border-radius: 10px;
    background-color: #40814A;
    position: relative;
    overflow: hidden;
}

.error p {
    max-width: 70%;
}

.error button {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background-color: #387541;
    color: #26502d;
    cursor: pointer;
}

.error-danger {
    background-color: #814040;
}

.error-danger button {
    background-color: #743535;
    color: #3b1b1b;
}

.error-warning {
    background-color: #A2A440;
}

.error-warning button {
    background-color: #90922E;
    color: #5d5e1e;
}